#### AUTH ####
#
AuthType=auth/munge
#
#### SLURM USER ####
#
SlurmUser={{ slurm_user[ansible_os_family] }}
#
#### STORAGE TYPE ####
#
StorageType=accounting_storage/mysql
StorageUser={{ slurm_slurmdbd_mysql_user }}
StoragePass={{ slurm_slurmdbd_mysql_password }}
StorageLoc={{ slurm_slurmdbd_mysql_db_name }}
#
#### DB HOST ####
#
DbdHost=localhost
DbdAddr=localhost
DbdPort=6819
#
#### LOGGING ####
#
LogFile=/var/log/slurm/slurmdbd.log
#
#### DEBUGGING ####
#
#DebugLevel=4
#
#### PID ####
{% if ansible_os_family == "RedHat" %}
PidFile=/var/run/slurmdbd.pid
{% endif %}
{% if ansible_os_family == "Debian" %}
PidFile=/run/slurmdbd.pid
{% endif %}
#
#### PURGE/ARCHIVE ####
#
# Archive records before purging
DebugFlags=DB_ARCHIVE
ArchiveDir=/var/lib/slurmdbd.archive
ArchiveEvents=yes
ArchiveJobs=yes
ArchiveResvs=yes
ArchiveSteps=yes
ArchiveSuspend=yes
ArchiveTXN=yes
ArchiveUsage=yes
# Purge records from DB that are older than 3 months
PurgeEventAfter=3
PurgeJobAfter=3
PurgeResvAfter=3
PurgeStepAfter=3
PurgeSuspendAfter=3
PurgeTXNAfter=3
PurgeUsageAfter=3
#
